
<div class="container">
  <h1>{{title}}</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
       
             <form action="/coursedata/create" method="post">
             <div class="form-group">
              <input type="number" name="Teach_Id" class="form-control" placeholder="Teach_Id" />
          </div>
          <div class="form-group">
              <input type="number" name="C_No" class="form-control" placeholder="C_No" />
          </div>
          
          <div class="form-group">
              <button class="btn btn-info">Save Coursedata</button>
          </div>
      </form>
    </div>
  </div>
</div>