
<div class="container">
  <h1>{{title}}</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
       <form action="/employeedata/create" method="post">
           <div class="form-group">
              <input type="number" name="Usr_Id" class="form-control" placeholder="Usr_Id" />
          </div>
          <div class="form-group">
              <input type="number" name="Emp_Id" class="form-control" placeholder="Emp_Id" />
          </div>
          <div class="form-group">
              <button class="btn btn-info">Save Employeedata</button>
          </div>
      </form>
    </div>
  </div>
</div>