
<div class="container">
  <h1>{{title}}</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
       
      <form action="/enrollment/create" method="post">
          <div class="form-group">
              <input type="number" name="C_No" class="form-control" placeholder="C_No" />
          </div>
          <div class="form-group">
              <input type="number" name="Roll_No" class="form-control"  placeholder="Roll_No" />
          </div>
          <div class="form-group">
              <input type="text" name="MTexam_Date" class="form-control" placeholder="MTexam_Date" />
          </div>
          <div class="form-group">
              <input type="number" name="MTexam_Makrs" class="form-control"  placeholder="MTexam_Marks" />
          </div>
          <div class="form-group">
              <input type="text" name="Finalexam_Date" class="form-control" placeholder="finalexam_Date" />
          </div>
          <div class="form-group">
              <input type="number" name="Finalexam_Marks" class="form-control" placeholder="finalexam_Marks" />
          </div>
          <div class="form-group">
              <input type="number" name="Total" class="form-control" placeholder="Total" />
          </div>
          <div class="form-group">
              <button class="btn btn-info">Save Product</button>
          </div>
      </form>
    </div>
  </div>
</div>