
<div class="container">
  <h1>{{title}}</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
       <form action="/studentdata/edit/{{studentdata.Roll_No}}" method="post">
       <div class="form-group">
              <input type="number" name="Usr_Id" class="form-control" value={{studentdata.Usr_Id}} placeholder="Usr_Id" />
          </div>
          <div class="form-group">
              <input type="number" name="Roll_No" class="form-control" value={{studentdata.Roll_No}} placeholder="Roll_No" />
          </div>
          <div class="form-group">
              <button class="btn btn-info">Save StudentData</button>
          </div>
      </form>
    </div>
  </div>
</div>