
<div class="container">
  <h1>{{title}}</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
       <form action="/studentinfo/create" method="post">
          <div class="form-group">
              <input type="number" name="Roll_No" class="form-control"  placeholder="Roll_No" />
          </div>
          <div class="form-group">
              <input type="text" name="F_Name" class="form-control" placeholder="F_Name" />
          </div>
          <div class="form-group">
              <input type="text" name="M_Name" class="form-control" placeholder="M_Name" />
          </div>
          <div class="form-group">
              <input type="text" name="L_Name" class="form-control" placeholder="L_Name" />
          </div>
          <div class="form-group">
              <input type="text" name="Class" class="form-control"  placeholder="Class" />
          </div>
          <div class="form-group">
              <button class="btn btn-info">Save Studentinfo</button>
          </div>
      </form>
    </div>
  </div>
</div>