
<div class="container">
  <h1>{{title}}</h1>
  <hr />
  <div class="row">
    <div class="col-md-6">
         <form action="/user/create" method="post">
          <div class="form-group">
              <input type="number" name="Usr_Id" class="form-control" placeholder="Usr_Id" />
          </div>
          <div class="form-group">
              <input type="text" name="Password" class="form-control" placeholder="Password" />
          </div>
          <div class="form-group">
              <button class="btn btn-info">Save User</button>
          </div>
      </form>
    </div>
  </div>
</div>